<div class="mx-auto" style="max-width: 1080x;">
  <div class="card mx-auto">
    <div class="row">
      <div class="col-md-4 card-body">
        {{#if user.image}}
        <img src="{{user.image}}" alt="">
        {{else}}
        <img src="https://developers.google.com/web/tools/chrome-user-experience-report/images/logo.png" alt="">
        {{/if}}
      </div>
      <div class="col-md-8 card-body">
        <h2>{{user.name}}</h2>
        <h5>{{user.email}}</h5>
        <br>
        <h5>{{count}} 則已評論餐廳</h5>
        <h5>{{countOfFav}} 個收藏的餐廳</h5>
        <h5>{{followings}} 人追蹤中</h5>
        <h5>{{followers}} 個粉蝨</h5>
        <br>
        <form action="/users/{{user.id}}/edit">
          <button type="submit" class="btn btn-primary mt-2">EDIT</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row mx-auto" style="height: fit-content;">
    <div class="card mt-3 col-md-4">
      <h5 class="card-header">{{followings}} 人追蹤中</h5>
      <div class="card-body">
        <div class="card-group">
          {{#each userFollowings}}
          <div class="card col-sm-4 mx-1 no-gutters">
            <a href='/users/{{this.id}}'><img src="{{this.image}}" class="card-img-top"></a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="card mt-3 col-md-8">
      <h5 class="card-header">{{count}} 則已評論餐廳</h5>
      <div class="card-body">
        <div class="card-group">
          {{#each userComments}}

          <div class="card col-sm-2 mx-1 no-gutters">

            <a href='/restaurants/{{this.id}}'><img
                src="https://s7d2.scene7.com/is/image/TWCNews/050220_pix_restaurant2jpg"
                style="width: 80px; height: 80px;"></a>
          </div>

          {{/each}}
        </div>
      </div>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="card mt-3 col-md-4">
      <h5 class="card-header">{{followers}} 個粉蝨</h5>
      <div class="card-body">
        <div class="card-group">
          {{#each userFollowers}}
          <div class="card col-sm-2 mx-1">
            <a href='/users/{{this.id}}'><img src="{{this.image}}" class="card-img-top"></a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>

    <div class="card mt-3 col-md-8">
      <h5 class="card-header">{{countOfFav}} 個收藏的餐廳</h5>
      <div class="card-body">
        <div class="card-group">
          <div class="card col-sm-2 mx-1">
            <a href='/restaurants/:id'><img src="https://s7d2.scene7.com/is/image/TWCNews/050220_pix_restaurant2jpg"
                class="card-img-top"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>