<div class="mx-auto" style="max-width: 1080x;">
  <div class="card mx-auto">
    <div class="row">
      <div class="col-md-4 card-body">
        {{#if user.image}}
        <img src="{{user.image}}" alt="">
        {{else}}
        <img src="https://developers.google.com/web/tools/chrome-user-experience-report/images/logo.png" alt="">
        {{/if}}
      </div>
      <div class="col-md-8 card-body">
        <h2>{{user.name}}</h2>
        <h5>{{user.email}}</h5>
        <br>
        <h5>{{count}} 則已評論餐廳</h5>
        <h5>{{countOfFav}} 個收藏的餐廳</h5>
        <h5>{{followings}} 人追蹤中</h5>
        <h5>{{followers}} 個粉蝨</h5>
        <br>
        <form action="/users/{{user.id}}/edit">
          <button type="submit" class="btn btn-primary mt-2">EDIT</button>
        </form>
      </div>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="card mt-3 col-md-4">
      <h5 class="card-header">{{followings}} 人追蹤中</h5>
      <div class="card-body row">
        {{#each userFollowings}}
        <div class="mr-2 mt-2">
          <a href='/users/{{this.id}}'><img
              src="{{#if this.image}}{{this.image}}{{else}}https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png{{/if}}"
              class="img-thumbnail" style="width: 80px; height: 80px;"></a>
        </div>
        {{/each}}
      </div>
    </div>

    <div class="card mt-3 col-md-8">
      <h5 class="card-header" style="">{{count}} 則已評論餐廳</h5>
      <div class="card-body row">
        {{#each userComments}}
        <div class="mr-2 mt-2">
          <a href='/restaurants/{{this.id}}'><img
              src="{{#if this.image}}{{this.image}}{{else}}https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Barbieri_-_ViaSophia25668.jpg/1200px-Barbieri_-_ViaSophia25668.jpg{{/if}}"
              class="img-thumbnail" style="width: 80px; height: 80px;"></a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="card mt-3 col-md-4">
      <h5 class="card-header">{{followers}} 個粉蝨</h5>
      <div class="card-body row">
        {{#each userFollowers}}
        <div class="mr-2 mt-2">
          <a href='/users/{{this.id}}'><img
              src="{{#if this.image}}{{this.image}}{{else}}https://cdn4.iconfinder.com/data/icons/small-n-flat/24/user-alt-512.png{{/if}}"
              class="img-thumbnail" style="width: 80px; height: 80px;"></a>
        </div>
        {{/each}}
      </div>
    </div>

    <div class="card mt-3 col-md-8">
      <h5 class="card-header">{{countOfFav}} 個收藏的餐廳</h5>
      <div class="card-body row">
        {{#each userFavoritedRest}}
        <div class="mr-2 mt-2">
          <a href='/restaurants/{{this.id}}'><img
              src="{{#if this.image}}{{this.image}}{{else}}https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Barbieri_-_ViaSophia25668.jpg/1200px-Barbieri_-_ViaSophia25668.jpg{{/if}}"
              class="img-thumbnail" style="width: 80px; height: 80px;"></a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>