<div class="card">
  <div class="row">
    <div class="col-md-4 card-body">
      {{#if user.image}}
      <img src="{{user.image}}" alt="">
      {{else}}
      <img src="https://developers.google.com/web/tools/chrome-user-experience-report/images/logo.png" alt="">
      {{/if}}
    </div>
    <div class="col-md-8 card-body">
      <h2>{{user.name}}</h2>
      <h5>{{user.email}}</h5>
      <h5>5則已評論餐廳</h5>
      <form action="/users/{{user.id}}/edit">
        <button type="submit" class="btn btn-primary mt-2">EDIT</button>
      </form>
    </div>
  </div>
</div>

<div class="card mt-3">
  <h5 class="card-header">5則已評論餐廳</h5>
  <div class="card-body">
    <div class="card-group">
      <div class="card col-sm-2 mx-1">
        <a href="/"><img
            src="https://stickershop.line-scdn.net/stickershop/v1/product/14378/LINEStorePC/main.png;compress=true"
            class="card-img-top"></a>
      </div>
      <div class="card col-sm-2 mx-1">
        <a href="/"><img
            src="https://stickershop.line-scdn.net/stickershop/v1/product/14378/LINEStorePC/main.png;compress=true"
            class="card-img-top"></a>
      </div>
      <div class="card col-sm-2 mx-1">
        <a href="/"><img
            src="https://stickershop.line-scdn.net/stickershop/v1/product/14378/LINEStorePC/main.png;compress=true"
            class="card-img-top"></a>
      </div>
    </div>
  </div>
</div>