<div class="card">
  <div class="row">
    <div class="col-md-4 card-body">
      {{#if user.image}}
      <img src="{{user.image}}" alt="">
      {{else}}
      <img src="https://developers.google.com/web/tools/chrome-user-experience-report/images/logo.png" alt="">
      {{/if}}
    </div>
    <div class="col-md-8 card-body">
      <h2>{{user.name}}</h2>
      <h5>{{user.email}}</h5>
      <h5>{{count}} 則已評論餐廳</h5>
      <form action="/users/{{user.id}}/edit">
        <button type="submit" class="btn btn-primary mt-2">EDIT</button>
      </form>
    </div>
  </div>
</div>

<div class="card mt-3">
  <h5 class="card-header">{{count}} 則已評論餐廳</h5>
  <div class="card-body">
    <div class="card-group">
      {{#each commentOfRest}}
      {{#if this.image}}
      <div class="card col-sm-2 mx-1">
        <a href='/restaurants/{{this.id}}'><img src="{{this.image}}" class="card-img-top"></a>
      </div>
      {{else}}
      <div class="card col-sm-2 mx-1">
        <a href='/restaurants/{{this.id}}'><img src="https://s7d2.scene7.com/is/image/TWCNews/050220_pix_restaurant2jpg"
            class="card-img-top"></a>
      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>
</div>